    @import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Permanent+Marker&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

      * {
        padding: 0px;
      }

      body {
        background: linear-gradient(#242423, #CBD2D0)
      }

      h1 {
        font-family: 'Permanent Marker', cursive;
        color: #0A0A0A;
        font-weight: 100;
        font-size: 47px;
        text-align: center;
      }

      h2 {
        font-family: 'Kanit', sans-serif;
        font-size: 30px;
        padding: 15px;
        margin-left: 20px;
        text-align: left;
      }

      h4 {
        text-align: center;
      }

      .button01 {
        font-size: 25px;
        background-color: #615D56;
        color: #2B2A26;
        padding: 15px 10px;
        border-radius: 20px;
        text-decoration: none;
        font-family: 'Amatic SC', cursive; 
               
      }

      .button01:hover {
        color: black;
      }

      p {
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 400;
        font-size: 20px;
        padding-left: 10px;
        text-align: left;
        margin-left: 10px;
      }

      ul {
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 700;
        font-size: 20px;
        padding-left: 35px;
        
      }

      #a3 {
        text-align: center;
      }

      #img01 {
        position: relative;
        width: 100px;
        left: 39%;

      }

      #img02 {
        position: absolute;
        width: 160px;
        left: 56%;
      }

      #img03 {
        position: relative;
        width: 65px;
        left: 43%;
        bottom: 30px;        
      }

      #img04 {
        position: relative;
        width: 100px;
        left: 38%;
        bottom: 4px;
      }